.clean-container{
  width: 77%;
  margin: 0 auto;
  h2{
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    margin: 10.9375rem 0 3.125rem 0;
  }
}

.select-type__block{
  background: rgba(4, 12, 35, 0.45);
  border-radius: 0.625rem !important;
  width: calc(28.625rem - 0.25rem);
  height: calc(3.25rem - 0.25rem);
  margin: 0 auto;
  margin-bottom: 4.6875rem;
  padding: 0.125rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;


  p{
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: transparent;
    border-radius: 0.625rem !important;
    width: 100%;
    height: 100%;
  }
  .active-select__type{
    background: rgba(4, 12, 35, 0.9);

    z-index: 3;

    .select-border{
      transition: 0.3s;
      opacity: 1;
      left: -1px;
    }


    p{
      opacity: 1;
      background: rgba(4, 12, 35, 0.9);
    }
  }
  &-item{
    width: calc(9.375rem - 0.25rem);
    height: calc(3rem - 0.25rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 3;
    position: relative;

    p{
      opacity: 0.75;
    }

  }
}

.select-type__block-item .select-border{
  opacity: 0;
}

.select-border{
  background: linear-gradient(275.85deg, #FF9950 0%, #716FFF 49.48%, #0AD266 100%);
  width: calc(9.475rem - 0.25rem);
  height: calc(3.1rem - 0.25rem);
  position: absolute;
  left: -1px;
  border-radius: 10.5px;
  z-index: -2;
  content: '';
  opacity: 0;

}

.mini-games__container{
  //width: 100%;
  //display: flex;
  //flex-direction: row;
  ////flex-wrap: wrap;
  //justify-content: space-between;
  //flex-flow: row wrap;
  //margin: 0 -15px;
  margin: 0 -20px -20px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  &-item {
    padding: 0 20px 20px;
    width: calc(15.9375rem - 1.875rem);
    height: calc(15.9375rem - 1.875rem);
    //background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background-size: cover !important;
    border-radius: 10px;
    //padding: 0.9375rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    margin-bottom: 0.9375rem;
    transition: 1s;
    cursor: default;
    margin-left: 1.875rem;

    &:hover {
      transition: 1s;
      transform: scale(1.05);
    }

    &__img-imitate {

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    &__name{
      font-style: normal;
      font-weight: bold;
      font-size: 1.625rem;
      color: #FFFFFF;
      text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
    }
    &__button{
      background: rgba(255, 255, 255, 0.25);
      box-sizing: border-box;
      display: flex;
      cursor: pointer;

      justify-content: center;
      align-items: center;
      width: 100%;
      height: 2.5rem;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 4px;
      transition: 0.2s;

      &:hover{
        transition: 0.2s;
        background: #FFFFFF;

        &-text{
          transition: 0.2s;
          color: rgba(30, 30, 30, 1) !important;
        }

      }
      &:hover &-text{

          transition: 0.2s;
          color: rgba(30, 30, 30, 1) !important;


      }

      &-text{
        transition: 0.2s;
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        text-align: center;
        color: #FFFFFF;
      }
    }
  }
}

#overlays{
  display: flex;
  width: 69.375rem;
  margin: 4rem auto;
  flex-direction: column;

}

.overlays{

  &-item{
    width: 69.375rem;
    height: 33.75rem;
    background: #FFFFFF;

    flex-direction: row;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 4rem;
    position: fixed;
    top: 20%;
    left: 20%;
    display: none;
    z-index: 700;


    ::-webkit-scrollbar-button {

      background-repeat:no-repeat;
      width:4px;
      height:0px
    }

    ::-webkit-scrollbar-track {
      background-color:#FFFFFF;

    }

    ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0.3125rem;
      border-radius:0.3125rem;
      background-color:rgba(65, 81, 127, 0.9);

      background-image:url('https://yraaa.ru/_pu/24/59610063.png');
      background-position:center;
      background-repeat:no-repeat;
    }

    ::-webkit-resizer{

      background-repeat:no-repeat;
      width:4px;
      height:0px
    }

    ::-webkit-scrollbar{
      width: 6px;
    }

    &__description{
      width: calc(39.625rem - 5rem);
      overflow-y: scroll;
      padding: 2.125rem 2.5rem;
      margin: 0.5rem 0;

      &-title{
        font-size: 2rem;
        font-weight: bold;
        margin-top: 0;
      }
      &-text{
        font-size: 0.875rem;
        font-weight: normal;
        width: 100%;
        margin-top: 0;
        margin-bottom: 1.5rem;
        font-style: normal;
        line-height: 18px;
        color: #1E1E1E;

      }
      ul{
        li{
          margin-bottom: 0.5rem;
          font-size: 0.875rem;
        }
        margin-bottom: 1rem;
      }

    }
    &__form{
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 100%);
      height: 100%;
      width: 34.3125rem;
      margin-left: 0.5rem;
      position: relative;
      display: flex;
      align-items: flex-end;

      .close-btn{
        position: absolute;
        right: 1rem;
        top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
        width: 2rem;
        height: 2rem;

        &:hover{
          transition: 0.3s;
          transform: scale(1.1);
        }
        &__item{
          width: 1.5625rem;
          height: 0.18625rem;
          background: #FFFFFF;
          border-radius: 1rem;
          z-index: 10;
          box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.1);
          &:first-child{
            transform: rotate(45deg);
            position: absolute;
          }
          &:last-child{
            transform: rotate(-45deg);
            position: absolute;
          }

        }
      }
      &-touch{
        width: 100%;
        height: 27.5rem;
        background: rgba(32, 32, 32, 0.9);
        backdrop-filter: blur(14px);
        border-radius: 0 0 1rem 0;
        padding: 1.5625rem 2.1875rem;
        &__buy-block{
          width: 100%;
          height: 3.25rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 1.2rem;
          &__input{
            width: 5.75rem;
            height: 100%;
            border-radius: 0.25rem;
            background: rgba(0, 0, 0, 0.25);
            border: 1px solid rgba(0, 0, 0, 0.4);
            text-align: center;
            color: #FFF;
          }
          button{
            background: linear-gradient(243.71deg, #7A80FF 0%, #716FFF 100%);
            border-radius: 4px;
            width: 23.25rem;
            height: 100%;
            border: 0;
            color: #FFF;
            font-weight: 600;
            font-size: 1rem;
            cursor: pointer;
          }
        }
        &__promocode-block{
          position: relative;
          height: 4rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          input{
            margin-bottom: 0;
          }

          &__btn{
            width: 9rem;
            height: 2.5rem;
            border-radius: 0.1875rem;
            background: rgba(86, 87, 85, 1);
            color: #FFFFFF;
            position: absolute;
            bottom: 0.0625rem;
            right: 0.0625rem;
            border: 0;
            cursor: pointer;
            z-index: 5;
          }
        }
        &-input{
          width: 100%;
          background: rgba(0, 0, 0, 0.25);
          border: 1px solid rgba(0, 0, 0, 0.4);
          box-sizing: border-box;
          border-radius: 0.25rem;
          height: 2.625rem;
          padding: 0 1.25rem;
          font-size: 0.75rem;
          color: #FFFFFF;
          margin-bottom: 0.9375rem;
        }
        &-text{
          font-style: normal;
          font-weight: normal;
          font-size: 0.75rem;
          display: flex;
          color: #FFFFFF;
          margin-bottom: 0.25rem;
          margin-top: 0;
        }
        &-price{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1.8125rem;
          &__key{
            color: #FFFFFF;
            font-size: 2.125rem;
            font-weight: bold;
            margin: 0;
          }
          &__value{
            display: flex;
            flex-direction: row;
            align-items: center;
            &-last{
              text-decoration-line: line-through;
              font-size: 1.5rem;
              font-weight: 200;
              color: #FFFFFF;
              opacity: 0.7;
              margin-right: 1rem;
            }
            &-new{
              color: #FFFFFF;
              font-size: 2.125rem;
              font-weight: bold;
              margin: 0;

            }
          }
        }
        &-type{
          width: 100%;
          background: rgba(0, 0, 0, 0.5);
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          border-radius: 0.25rem;
          padding: 0 0.1rem;
          margin-bottom: 0.9375rem;
          position: relative;
          &__sale{
            position: absolute;
            right: -0.5rem;
            top: -0.5rem;
            display: block;
            z-index: 10;
          }
          &__item{
            height: 3rem;
            border-radius: 0.25rem;
            padding: 0.0625rem;
            position: relative;
            display: flex;
            align-items: center;
            z-index: 2;
            cursor: pointer;
            &-text{
              margin: 0;
              height: 2.775rem;
              width: 6.275rem;
              display: flex;
              align-items: center;
              justify-content: center;
              opacity: 0.75;
              border-radius: 0.25rem;
              color: #FFFFFF;
              font-style: normal;
              font-weight: 500;
              font-size: 0.9375rem;
              line-height: 18px;
              text-align: center;
              user-select: none;

            }
          }
        }
      }
    }
  }
}

.active-touch__type{

  .overlays-item__form-touch-type__item-text{
    background: rgba(0, 0, 0, 0.9);
    opacity: 1;
  }
  .select-type{
    background: linear-gradient(275.85deg, #FF9950 0%, #716FFF 49.48%, #0AD266 100%);
    width: calc(6.65rem - 0.25rem);
    height: calc(3.1rem - 0.25rem);
    position: absolute;
    left: 0;
    z-index: -1;
    content: '';
    opacity: 1;
    border-radius: 0.3rem;
    transition: 0.3s;
    &:last-child{
      left: 0.5px;
    }
  }
}

.select-type{
  opacity: 0;
}

.pack-card{
  &__hover-light{
    background: transparent;
    background-blend-mode: screen;
  }
}

//рулетка

#roulette {

  width: 69.375rem;
  margin: 4rem auto;

  .top-back__block {
    width: 100%;
    display: flex;
    align-items: center;
    height: 5rem;
    border-radius: 0.625rem;
    background: linear-gradient(0deg, rgba(32, 32, 32, 0.8), rgba(32, 32, 32, 0.8));
    padding: 1.8125rem 2.5rem;
    position: relative;

    &-img {
      width: 1.5rem;
      cursor: pointer;
      z-index: 100;
    }

    &-back__text {
      cursor: pointer;
      font-style: normal;
      font-weight: 500;
      font-size: 1.125rem;
      margin: 0;
      margin-left: 0.625rem;
      color: #FFFFFF;
      z-index: 100;
    }

    &-title {
      position: absolute;
      left: 0%;
      width: 100%;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;

      margin: 0;
      color: #FFFFFF;
    }
  }

  .roulette-line {
    width: 100%;
    height: 15.375rem;
    background: linear-gradient(270deg, #FF9950 0%, #716FFF 52.08%, #0AD266 100%);
    border-radius: 0.625rem;
    margin: 0.3125rem 0;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;

    .roulette-line__item-wrapper {
      overflow: hidden;
      position: relative;

      ul {
        width: auto;
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        transition-duration: 5s;
        position: relative;

        li {
          background-size: cover !important;
          height: 14.75rem;
          width: 12rem;
          display: block;
          flex: 0 0 auto;
          margin-right: 0.5rem;
          border-radius: 0.25rem;
        }
      }
    }

    &__item {
      width: 17rem;
      height: 14.75rem;
      margin-right: 0.5rem;
      border-radius: 0.25rem;
      background-image: url("https://im0-tub-ru.yandex.net/i?id=ce68287ae2356b8b7b1226672eb64c42-l&ref=rim&n=13&w=908&h=995");
      background-size: cover;
      position: absolute;

      &:nth-child(1) {
        left: -10%;
      }

      &:nth-child(2) {
        left: 20%;
      }

      &:nth-child(3) {
        left: -13%;
      }

      &:nth-child(4) {
        left: 12%;
      }

      &:nth-child(5) {
        left: 37%;
      }

      &:nth-child(6) {
        left: 62%;
      }

      &:nth-child(7) {
        left: 87%;
      }

      &:nth-child(8) {
        left: 150%;
      }

      &:nth-child(9) {
        left: 150%;
      }

      &:nth-child(10) {
        left: 150%;
      }

      &:nth-child(11) {
        left: 150%;
      }


    }

    &__stick {
      position: absolute;
      left: 50%;
      right: 50%;
      width: 0.5rem;
      height: 100%;
      top: 0;
      background: rgb(234, 223, 225);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
      z-index: 5;
    }
  }

  .dark-background__roulette {
    background: linear-gradient(270deg, #000000 -80%, rgba(0, 0, 0, 0.25) 51.56%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.625rem;
  }

  .roulette-form {
    position: relative;
    width: 100%;
    height: 22.5rem;
    border-radius: 0.625rem;
    display: flex;

    .row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .cost-block {
      margin-top: 20px;
      margin-bottom: 25px;

      .cost-t {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
      }

      .cost-v {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;

        vertical-align: middle;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .old {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 200;
          font-size: 24px;
          line-height: 28px;
          text-decoration: line-through;

          color: #FFFFFF;
          opacity: 0.7;

          padding-right: 15px;
        }
      }
    }

    .users-input {
      padding-bottom: 20px;

      .form-group {
        margin-bottom: 1rem;
        padding-right: 5px;
        padding-left: 5px;
      }

      .form-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .select-wrapper {
        padding-right: 5px;
        padding-left: 5px;
        width: calc(calc(100% / 24) * 6);
      }

      .button-wrapper {
        padding-right: 5px;
        padding-left: 5px;
        width: calc(calc(100% / 24) * 18);
      }

      label {
        width: 100%;
        font-size: 16px;
        display: inline-block;
        margin-bottom: 0.5rem;

        .error {
          color: red;
          float: right;
        }
      }

      input {
        color: white;
        width: 100%;
        background: rgba(0, 0, 0, 0.35);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        padding: 11px 20px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;

        &:focus {
          outline: none;
        }

        &.error {
          border: 1px solid red;
        }
      }

      select {
        background: rgba(0, 0, 0, 0.35);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        border-radius: 4px;

        color: white;
        padding: 10px;
        width: 100%;
        font-size: 12px;
        height: 100%;

        &:focus {
          outline: none;
        }
      }

      button[type="submit"] {
        background: $premium;
        border-radius: 4px;
        width: 100%;

        padding: 16px 0;
        border: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: white;
        cursor: pointer;

        &.unactive {
          background: #808080 !important;
          cursor: default;
        }
      }
    }

    &__form {
      background: rgba(32, 32, 32, 0.8);
      border-radius: 0px 10px 10px 0px;
      width: 30.3125rem;
      height: 100%;
      z-index: 1;
      padding: 1.5625rem 2.1875rem;
      color: white;

      .overlays-item__form-touch-price {
        &__value-last {
          font-weight: 200;
        }
      }

      .overlays-item__form-touch__buy-block button {
        background: linear-gradient(243.71deg, #7A80FF 0%, #716FFF 100%) !important;

        width: 19.25rem;

      }

    }
    &__img{
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    &__description{
      background: rgba(20, 20, 20, 0.8);
      border-radius: 10px 0px 0px 10px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 39.0265rem;
      z-index: 2;
      &__title{
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 39px;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
        margin-bottom: 1.25rem;
      }
      &__text{
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
        width: 88%;
        line-height: 1.5rem;
      }
    }
  }
}



.case-container{
  width: 69.375rem;
  margin: 0 auto;
}

.overlays-item{

  &__description-title:nth-child(1){
    display: block;
  }
  &__description-title:nth-child(2){
    display: none;
  }
  &__description-title:nth-child(3){
    display: none;
  }
  &__description-title:nth-child(4){
    display: none;
  }
}



.overlays-item__form-touch-price__value-{
  &last{
    &:nth-child(1){
      display: block;
    }
    &:nth-child(2){
      display: none;
    }
    &:nth-child(3){
      display: none;
    }
    &:nth-child(4){
      display: none;
    }
  }
}







